.jumbotron{
  text-align: center;
  background-color: black;
  color: #00ff00;
  border-style: inset;
  border-width: 8px;
}
body{
  background-color: #d9d9d9;
  text-align: center;
  color: black;
}
#hideThat{
  display: none;
}
ul {
  list-style-type: none;
}
